body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    background-color: black;
    align-items: center;
}

header div {
    margin-left: 40px;
}

header div h1 {
    color: whitesmoke;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: red;

}

article {
    display: flex;
    margin-top: 40px;
    padding: 20px;
}
.article-text {
    margin-left: 20px;
}

article img {
    border-radius: 5%;
    width: 300px;
    height: 200px;
}

